<div class="app-box container list">

	<div class="app-topbar">
		<div class="row">
			<div class="col-2 pl-10">
				<a href="#/"><i class="icon-chevron-thin-left"></i></a></a>
			</div>

			<div class="col-8 text-center">
				手记
			</div>

			<div class="col-2 text-center">
				<a href="#/add"><i class="icon-circle-with-plus"></i></a>
			</div>
		</div>
	</div>

	<div class="app-body">

		<div class="panel">
			<div class="body">

				<div id="daylist"></div>

			</div>
		</div>

	</div>

	<div class="app-foot">
		<div class="row">
			<div class="col-4 text-center">
				<a href="#/"><i class="icon-home"></i>首页</a>
			</div>
			<div class="col-4 text-center active">
				<a><i class="icon-text-document-inverted"></i>手记</a>
			</div>
			<div class="col-4 text-center">
				<a href="#/im"><i class="icon-user"></i>我</a>
			</div>
		</div>
	</div>
	

</div>