.koala-plugin-today{
	padding: 5px;
}
.koala-plugin-today .month, .koala-plugin-today .day{
	display: inline-block; color: #fff;
	font-size: 2em; text-align: center;
	width: 100px; height: 40px;
	line-height: 40px; border-radius: 4px;
}
.koala-plugin-today .month{
	background-color: #D48585;
}
.koala-plugin-today .day{
	background-color: #EF9999;
}

.koala-plugin-editor{

}
.koala-plugin-editor .tool{
	margin-top: 5px; margin-left: 5px;
	margin-right: 5px; padding-left: 5px;
	background-color: #F5f5f5;
	height: 40px;
}
.koala-plugin-editor .tool .upfile{
	overflow: hidden;
	position: relative;
}
.koala-plugin-editor .tool .upfile input {
	position: absolute;
    font-size: 50px;
    right: 0; top: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer
}
.koala-plugin-editor .tool a{
	display: inline-block;
	height: 35px;
	line-height: 35px;
	width: 35px;
	text-align: center;
	font-size: 2em;
	color: #444;
	cursor: pointer;
	margin-top: 2px;
}
.koala-plugin-editor .tool i:hover{
	color: #4cf;
}

.koala-plugin-editor .editor{
	margin-left: 5px; margin-right: 5px;
	padding: 5px; min-height: 200px;
	background-color: #fff;
}

.koala-plugin-tip{
	position: absolute;
	width: 80%; height: 100px;
	line-height: 50px; margin-top: -50px;
	left: 10%; top: 50%;
	background: rgba(0, 0, 0, 0.4);
	z-index: 100;
	text-align: center; color: #fff;
	font-size: 2em; border-radius: 10px;
}